[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Wine bottle management
Name[cs]=Správce wine bottles
Name[en_GB]=Wine bottle management
Comment=Manage wine bottles
Comment[cs]=Umožňuje spravovat jednotlivé wine bootles
Comment[en_GB]=Manage wine bottles
Exec=wibom-gtk
Icon=wine-winefile
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Utility;
