
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Wine bottle management
Name[cs]=Správce Wine lahví
Name[en_GB]=Wine bottle management
Comment=Manage Wine bottles
Comment[cs]=Umožňuje spravovat jednotlivé Wine lahve
Comment[en_GB]=Manage Wine bottles
Exec=wibom-gtk
Icon=wibom-gtk
StartupNotify=true
Terminal=false
Type=Application
Categories=Wine;
GenericName=
